* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
body{
    background-color: rgb(134, 74, 190);
}

img.lado{
    float: right
}
main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(140, 40, 40) ;
}